@model Epolis.Models.Msysparam

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Msysparam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="PARAMCODE" class="control-label"></label>
                <input asp-for="PARAMCODE" class="form-control" />
                <span asp-validation-for="PARAMCODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PARAMNAME" class="control-label"></label>
                <input asp-for="PARAMNAME" class="form-control" />
                <span asp-validation-for="PARAMNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PARAMVALUE" class="control-label"></label>
                <input asp-for="PARAMVALUE" class="form-control" />
                <span asp-validation-for="PARAMVALUE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PARAMDESC" class="control-label"></label>
                <input asp-for="PARAMDESC" class="form-control" />
                <span asp-validation-for="PARAMDESC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISMASKED" class="control-label"></label>
                <input asp-for="ISMASKED" class="form-control" />
                <span asp-validation-for="ISMASKED" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PARAMGROUP" class="control-label"></label>
                <input asp-for="PARAMGROUP" class="form-control" />
                <span asp-validation-for="PARAMGROUP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ORDERNO" class="control-label"></label>
                <input asp-for="ORDERNO" class="form-control" />
                <span asp-validation-for="ORDERNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATEDBY" class="control-label"></label>
                <input asp-for="UPDATEDBY" class="form-control" />
                <span asp-validation-for="UPDATEDBY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPDATEDATE" class="control-label"></label>
                <input asp-for="UPDATEDATE" class="form-control" />
                <span asp-validation-for="UPDATEDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
