@model EPolis.Models.PerusahaanAsuransi

@{
    ViewData["Title"] = "Edit";
}

<center><h2>Ubah Data Perusahaan Asuransi</h2></center>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" autocomplete="off" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group  col-lg-12">
                    <label asp-for="KODEPERUSAHAAN" class="control-label col-lg-4"></label>
                    <input asp-for="KODEPERUSAHAAN" class="col-lg-8" />
                    <span asp-validation-for="KODEPERUSAHAAN" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-12">
                    <label asp-for="NAMAPERUSAHAAN" class="control-label col-lg-4"></label>
                    <input asp-for="NAMAPERUSAHAAN" class="col-lg-8" />
                    <span asp-validation-for="NAMAPERUSAHAAN" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-12">
                    <label asp-for="ALAMAT" class="control-label col-lg-4"></label>
                    <input asp-for="ALAMAT" class="col-lg-8" />
                    <span asp-validation-for="ALAMAT" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-12">
                    <label asp-for="NOTLP" class="control-label col-lg-4"></label>
                    <input asp-for="NOTLP" class="col-lg-8" />
                    <span asp-validation-for="NOTLP" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-12">
                    <label asp-for="NOFAX" class="control-label col-lg-4"></label>
                    <input asp-for="NOFAX" class="col-lg-8" />
                    <span asp-validation-for="NOFAX" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-12">
                    <label asp-for="CONTACTPERSON" class="control-label col-lg-4"></label>
                    <input asp-for="CONTACTPERSON" class="col-lg-8" />
                    <span asp-validation-for="CONTACTPERSON" class="text-danger"></span>
                </div>
                <div class="form-group  col-lg-12">
                    <label asp-for="EMAIL" class="control-label col-lg-4"></label>
                    <input asp-for="EMAIL" class="col-lg-8" />
                    <span asp-validation-for="EMAIL" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-12">
                    <input type="submit" value="Simpan" class="btn btn-save pull-right" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kembali</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
